.card.card.animated-margins {
  transition: margin 0.3s;
}
.card.animated-margins {
  margin-top: 0rem;
}
.card.animated-margins:hover {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

html {
  background-color: #f8f8f8 !important;
}
